@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    color: white;
}

body {
    background-color: #121212;
    margin: 0;
}

header {
    background-color: #212121;
    height: 65px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-text{
    font-size: 32px;
    margin: 0;
    font-weight: 400;
    margin-left: 20px;
}

.logo-text-color{
    color: #EE5353;
}

.nav-list{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.point-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgba(26, 26, 26, 0.85);
    width: 147px;
    height: 46px;
    border-radius: 10px;
    margin-right: 20px;
}

#points-amount{
    font-size: 16px;
}

.rbc-logo{
    width: 30px;
    height: 30px;
    margin: 5px;
}

.nav-list li{
    display: flex;
    align-items: center;
    padding: 20px;
    position: relative;
}

.nav-list li:last-child{
    margin-right: 20px;
}

.-link{
    text-decoration: none;
    font-size: 17px;
}

.-link-activea{
    border-style: none none solid none;
    border-color: #EE5353;
    border-width: 3px;
}

.-link-active::before{
    background-color: #EE5353;
    content: " ";
    height: 3px;
    width: 100%;
    position: absolute;
}

.logout-link{
    color: #EE2D2D;
}