@{
    ViewData["Title"] = "RocketRun";
    Layout = "";
}

@section Head{

}

<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Unity WebGL Player | WebTest4</title>


    <script src="~/Unity/spacerun/Build/UnityLoader.js"></script>

    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/Client/space-run.rb.js" defer></script>

    <script>
      @* var unityInstance = UnityLoader.instantiate("unityContainer", "/Unity/spacerun/Build/WebGL.json", {onProgress: UnityProgress}); *@
      var unityInstance = UnityLoader.instantiate("unityContainer", "/Unity/spacerun/Build/WebGL.json");
      var wakeup = false;
    </script>

  </head>
  <body>
    <style>
      html,body{
        margin: 0;
        padding: 0;
      }
      .spacerun-multiplier{
        color: white;
        font-family: 'Poppins', sans-serif;
        font-size: 39px;
        pointer-events: none;
        font-weight: 800;
        width: 384px;
        margin: 0;
        height: 198px;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 999;
      } 
    </style>
      <p class="spacerun-multiplier" id="space-multiplier"></p>
      @* <button onclick="unityInstance.SendMessage('Canvas', 'SetText', 'Hello ASP')">Send</button>
      <button onclick="preCheck = true">start</button>
      <button onclick="unityInstance.SendMessage('Canvas', 'ShowData', `'dailyRedeemed':false`)">SendJson</button> *@

    <div id="unityContainer" style="width: 384px; height: 642px; margin: auto;"></div>
  </body>
</html>

