.mbody {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.roulette-body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 550px;
}

.control-body {
    width: 55%;
    height: 550px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.pointer {
    position: absolute;
    width: 500px;
    height: 500px;
    z-index: 1;
}

#canvas {
    position: absolute;
}

.lay-circle {
    background-color: #EE5353;
    width: 470px;
    height: 470px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.inner-circle {
    background-color: #121212;
    width: 440px;
    height: 440px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.timer-text {
    font-size: 70px;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 200;
}

.control-bar {
    width: 92%;
    height: 45px;
    background-color: #252525;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bets-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 20px;
}

.bet-container {
    width: calc(90% / 3);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bet-button {
    width: 90%;
    height: 60px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    position: relative;
}

.bet-button:hover:after {
    content: '';
    display: block;
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.live-bets-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
}

.live-members li {
    margin: 15px 0 0 -25px;
    padding: 1px 0 0 26px;
    list-style: none;
    background-image: url(/img/dc-default.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px;
}

.live-coins li {
    margin: 15px 0 0 -25px;
    padding: 1px 0 0 25px;
    list-style: none;
    background-image: url(/img/rbcoin30x30.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px;
}

.live-text {
    font-size: 14px;
}

.live-text ul {
    margin: 0;
}

#coins {
    height: 100%;
    border-radius: 8px;
    outline: 0;
    border: 0;
    background-color: transparent;
    width: 100%;
    margin-left: 5px;
}

#coins::-webkit-outer-spin-button,
#coins::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.control-input-field {
    display: flex;
    align-items: center;
    height: 100%;
    width: 30%;
}

.control-input-field img {
    height: 30px;
    margin-left: 7px;
}

.control-bar-inner {
    margin-right: 5px;
    height: 80%;
}

.control-bar-inner button {
    height: 100%;
    border: none;
    background-color: #191919;
    border-radius: 6px;
    min-width: 45px;
    cursor: pointer;
    font-size: 12px;
    border-color: #ee535383;
}

.control-bar-inner button:hover {
    background-color: #151515;
    border: 1px solid #ee535383;
}

.control-panel {
    position: fixed;
    width: 60px;
    height: 220px;
    background-color: #252525;
    top: 30%;
    border-radius: 0 8px 8px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.control-button-hol {
    width: 100%;
}

.control-button {
    width: 100%;
    background-color: transparent;
    border: none;
}

.control-button img {
    width: 25px;
    cursor: pointer;
}

.volume-control {
    transform: rotate(-90deg);
    width: 120px;
}

.slider {
    -webkit-appearance: none;
    width: 110px;
    margin: 0;
    background-color: #5a5a5a;
    height: 10px;
    border-radius: 8px;
    z-index: 9999;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    background-color: #EE5353;
    border-radius: 50%;
    cursor: pointer;
}

.control-panel-icons {
    width: 100%;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 12px;
}

.circle-colors {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    top: 65%;
    opacity: 0.9;
}

.color {
    width: 14px;
    height: 35px;
    border-radius: 2px;
}

@media screen and (max-width: 1300px) {
    .mbody {
        flex-direction: column;
        align-items: center;
    }

    .roulette-body {
        width: 100%;
    }

    .control-body {
        width: 100%;
    }
}