@{
    ViewData["Title"] = "Crash";
    Layout = "_MainLayout";
}

@section Head{
    <link rel="stylesheet" href="~/css/Games/crash.css">
    <script src="~/js/Games/Crash/crash-controller.rb.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chance/1.0.18/chance.min.js"></script>
}

<div class="chart-container">
    <div id="timer-container"></div>
    <p class="multiplier" id="multiplierid"></p>
    <canvas id="myChart"></canvas>
</div>

 <canvas id="secChart"></canvas>