@{
    ViewData["Title"] = "Privacy";
    Layout = "_MainLayout";
}

@section Head{
    <link rel="stylesheet" href="~/css/Games/roulette.css">
}

<div id="player"></div>

<div class="control-panel">
    <div class="control-button-hol">
        <button class="control-button" action="row">
            <img src="~/img/direction-row.png" alt="direction-row">
        </button>
        <button class="control-button" action="column">
            <img src="~/img/direction-column.png" alt="direction-column">
        </button>
    </div>
    <div class="volume-control">
        <div class="slideConatiner">
            <input type="range" min="0" max="100" value="40" id="fx" class="slider">
        </div>
        <div class="slideConatiner">
            <input type="range" min="0" max="100" value="50" id="music" class="slider">
        </div>
    </div>
    <div class="control-panel-icons">
        <p>FX</p>
        <p>♬</p>
    </div>
</div>

<div class="mbody">
    <div class="roulette-body">
        <img src="~/img/roulette-arrow.png" alt="pointer" class="pointer">
        <canvas id="canvas" height="550px" width="550px">
            <p style="{color: white}" align="center">Sorry, your browser doesn't support canvas. Please try another.</p>
        </canvas>
        <div class="lay-circle">
            <div class="inner-circle">
                <p class="timer-text">10.0s</p>
                <div class="circle-colors">
                </div>
            </div>
        </div>
    </div>
    <div class="control-body">
        <div class="control-bar">
            <div class="control-input-field">
                <img src="~/img/rbcoin30x30.png" alt="rbcoin">
                <input type="number" id="coins" placeholder="Coins..">
            </div>
            <div class="control-bar-inner">
                <button class="control-bar-button" action="clear">CLEAR</button>
                <button class="control-bar-button" action="1">+1</button>
                <button class="control-bar-button" action="10">+10</button>
                <button class="control-bar-button" action="100">+100</button>
                <button class="control-bar-button" action="1000">+1000</button>
                <button class="control-bar-button" action="half">1/2</button>
                <button class="control-bar-button" action="double">X2</button>
                <button class="control-bar-button" action="max">MAX</button>
            </div>
        </div>
        <div class="bets-bar">
            <div class="bet-container">
                <button class="bet-button" style="background-color: #252525;" id="black-button">BLACK</button>
                <div class="live-bets-container">
                    <div class="live-members live-text">
                        <ul class="members-Black">
                        </ul>
                    </div>
                    <div class="live-coins live-text">
                        <ul class="coins-Black">
                        </ul>
                    </div>
                </div>
            </div>

            <div class="bet-container">
                <button class="bet-button" style="background-color: #36AF31;" id="green-button">GREEN</button>
                <div class="live-bets-container">
                    <div class="live-members live-text">
                        <ul class="members-Green">
                        </ul>
                    </div>
                    <div class="live-coins live-text">
                        <ul class="coins-Green">
                        </ul>
                    </div>
                </div>
            </div>

            <div class="bet-container">
                <button class="bet-button" style="background-color: #ee5353;" id="red-button">RED</button>
                <div class="live-bets-container">
                    <div class="live-members live-text">
                        <ul class="members-Red">
                        </ul>
                    </div>
                    <div class="live-coins live-text">
                        <ul class="coins-Red">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script
    src="https://code.jquery.com/jquery-3.5.1.js"
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
<script type="text/javascript" src="~/lib/WinWheel/Winwheel.min.js"></script>
<script src="~/js/Games/Roulette/roulette-controller.rb.js"></script>
<script src="~/js/Games/Roulette/timer.rb.js"></script>
<script src="~/js/Games/Roulette/roulette-bar-controller.rb.js"></script>
<script src="~/js/Games/Roulette/control-panel.rb.js"></script>