@{
    ViewData["Title"] = "Test";
}

<div class="test"></div>

@section scripts
{
    <script src="https://cdn.jsdelivr.net/npm/p5@1.4.1/lib/p5.js"></script>
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/Games/test.js"></script>
}