.page-title{
    font-weight: 400;
    width: 100%;
    text-align: center;
    font-size: 28px;
    margin: 30px 0 0 0;
}

.product-box{
    margin: 0 auto;
    width: 85%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.product-box:last-of-type{
    margin-bottom: 5%;
}

.category-title{
    font-weight: 300;
    width: 100%;
    text-align: left;
    font-size: 26px;
    height: 13%;
    margin: 0 0 0 10px;
}

.product-list-box{
    width: 100%;
    height: 87%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.product-container{
    min-width: 322px;
    width: fit-content;
    height: 92px;
    background-color: rgba(255, 255, 255, 0.03);
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    border-style: solid;

    border-image-repeat: stretch;
    border-image-slice: 50;
    border-image-width: 0 0 0 3px;
}

.product-text{
    margin: 0;
}

/* PRODUCT LEFT */
.product-desc{
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 0 0 7px;
}

.product-name{
    font-size: 18px;
    font-weight: 600;
}

.product-price{
    font-size: 14px;
    margin-top: -2px;
}

.buy-button{
    width: 91px;
    height: 33px;
    background-color: #4ab641;
    font-size: 15px;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.buy-button:hover{
    background-color: #3f9d3f;
}

/* PRODUCT RIGHT */
.product-presentation{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    margin: 0 7px 0 0;
}

.uName-presentation{
    margin: 0;
    text-align: right !important;
}