/* NAVBAR SECTION */
.navbar{
    width:100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    height: fit-content;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.02);
}

.nav-item{
    text-decoration: none;
    font-size: 17px;
    margin: 10px;
}

.nav-disabled{
    color: rgba(255, 255, 255, 0.1);
    position: relative;
    pointer-events: none;
}

.nav-disabled::before{
    content: 'UNAVAILABLE';
    color: gray;
    font-size: 12px;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 80px;
}

.nav-item:hover{
    border-color: rgba(196, 68, 68, 0.5);
    color: rgba(255, 255, 255, 0.7);
}

/* SHOWCASE */

.showcase-container{
    width: 80%;
    height: 50%;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: calc(50% - 25%);
    left: calc(50% - 40%);

}

.sc-presentation{
    width: 50%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sc-presentation-right{
    display: flex;
    align-items: center;
    animation: sc-presentation 1s ease-in-out infinite alternate; 
    width: 50%;
    height: 100%;
}

.sc-presentation-left{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    justify-content: space-around;
}

.sc-presentation-left img:last-of-type{
    animation: sc-presentation 1s ease-in-out infinite alternate; 
    animation-delay: 0.3s;
}

.sc-presentation-left img:first-of-type{
    animation: sc-presentation 1s ease-in-out infinite alternate; 
    animation-delay: 0.1s;
}

.pre-anim{
    background-color: red !important;
    animation: sc-presentation-left 1s ease-in-out infinite alternate;
    min-height: 156px;
}
.pre-anim:last-of-type{
    animation-delay: 0.4s;
}

@keyframes sc-presentation{
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(3%);
    }
}

@keyframes sc-presentation-div{
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(10%);
    }
}

@keyframes sc-presentation-left{
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(10px);
    }
}

.sc-img{
    width: 100%;
    max-height: 256px;
    max-width: 256px;
}

.present-text{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 34px !important;
}

.sc-presentation-right div{
    animation: sc-presentation-div 1s ease-in-out infinite alternate; 
    animation-delay: 0.8s;
    height: auto;
}


.sc-text{
    width: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sc-text-content {
    width: 57%;
    height: 80%;
    display: inline-block;
    position: relative;
}

.sc-text-title{
    display: block;
    color: #FFF;
    float: right;
    transform-origin: right top;
    white-space: nowrap;
    margin: 0;
}

.sc-desc{
    display: inline-block;
}

.sc-text-aval{
    color: #EE5353;
    float: right;
    font-size: large;
    margin: 10px 0 0 0;
    max-width: 446px;
    width: 100%;
    text-align: right;
}

.sc-text-desc{
    margin-top: 50px;
    float: left;
    z-index: 9;
}

.sc-button{
    width: 96px;
    height: 37px;
    background-color: #EE5353;
    font-weight: 600;
    border-color: #D44949;
    border-style: solid;
    cursor: pointer;
    border-radius: 3px;
    float: right;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.redit-disabled{
    pointer-events: none;
    background-color: gray;
    color: rgba(255, 255, 255, 0.4);
    border: gray;
}

.sc-button:hover{
    background-color: #D44949;
}

/* BOOTSTRAP */

@media screen and (max-width: 650px){
    .sc-presentation{
        width: 100%;
    }
    .navbar{
        justify-content: center;
    }
    .showcase-container{
        flex-direction: column;
        align-items: center;
    }

    .sc-text-aval{
        text-align: left;
    }

    .sc-text{
        width: 100%;
    }
}

@media screen and (max-width: 325px){
    .showcase-container{
        top: calc(50% - 20%);
    }
}
@media screen and (max-width: 650px){
    .showcase-container{
        top: 20%;
    }
    .sc-text{
        margin-top: 10%;
        padding-bottom: 20%;
    }
}
