.main-body{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px
}

.card-body{
    width: 323px;
    height: 194px;
    background-color: #202020;
    border-radius: 7px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.theme-bucket{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    border-radius: 7px;
    display: flex;
}

.card-redir:hover + .theme-bucket{
    height: 115%;
    width: 115%;
    cursor: pointer;
}

.card-redir:hover ~ .theme-bucket > .rocket-img{
    transform: rotateZ(20deg);
}

.card-redir:hover ~ .theme-bucket > .mars{
    animation: mars-anim 2s ease-in-out infinite;
}

.card-redir:hover ~ .theme-bucket > .mars2{
    animation: mars2-anim 2s ease-in-out infinite .5s;
}

.card-redir:hover ~ .theme-bucket > .rocket-flame{
    animation: rocket-flame .12s ease-in-out infinite .3s;
    transform: rotateZ(20deg) ;
}

@keyframes mars-anim {
    0%{
        transform:translateY(0px);
    }
    50%{
        transform:translateY(4px);
    }
    100%{
        transform:translateY(0px);
    }
}

@keyframes mars2-anim {
    0%{
        transform:translateY(0px)
        rotate(0deg)
    }
    50%{
        transform:translateY(2px)
        rotate(10deg)
    }
    100%{
        transform:translateY(0px)
        rotate(0deg)
    }
}

@keyframes rocket-flame {
    0%{
        transform: scale(1) 
        rotateZ(20deg);
        opacity: 1;
    }
    50%{
        transform: scale(1.1) 
        rotateZ(20deg);
        opacity: 1;
    }
    100%{
        transform: scale(1) 
        rotateZ(20deg);
        opacity: 1;  
    }
}

.rocket-flame{
    opacity: 0;
}

.rocket-img{
    width: 50%;
    position: absolute;
    top: 0;
    right: 15%;
    transform: rotateZ(60deg);
    margin-top: -12%;
}

.planet{
    position: absolute;
}

.saturn{
    width: 100px;
    left: 2%;
    top: 10%;
}

.mars{
    width: 60px;
    right: 1%;
    top: 44%;
}

.mars2{
    width: 50px;
    bottom: 5%;
    left: 23%;
}

.card-redir{
    width: 100%;
    height: 100%;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 36px;
    font-weight: 600;
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.9);
}

#spacerun-body{
    background: rgba(128, 0, 128, 0.1) center / 200px 200px round;
    border: 1px rgba(255, 255, 255, 0.2) solid;
}

.stars{
    width: 100%;
    height: 100%;
    position: absolute;
    animation: space 180s ease-in-out infinite;
    background-image:
        radial-gradient(
            1px 1px at 25px 5px, 
            white, 
            rgba(255, 255, 255, 0)
        ),
        radial-gradient(
            1px 1px at 50px 25px, 
            white, 
            rgba(255, 255, 255, 0)
        ),
        radial-gradient(
            1px 1px at 125px 20px, 
            white, 
            rgba(255, 255, 255, 0)
        ),
        radial-gradient(
            1.5px 1.5px at 50px 75px, 
            white, 
            rgba(255, 255, 255, 0)
        ),
        radial-gradient(
            2px 2px at 15px 125px, 
            white, 
            rgba(255, 255, 255, 0)
        ),
        radial-gradient(
            2.5px 2.5px at 110px 80px, 
            white, 
            rgba(255, 255, 255, 0)
        ),
        radial-gradient(
            1px 1px at 75px 125px, 
            white, 
            rgba(255, 255, 255, 0)
        ),
        radial-gradient(
            1px 1px at 100px 75px, 
            white, 
            rgba(255, 255, 255, 0)
        ),
        radial-gradient(
            1.5px 1.5px at 199px 100px, 
            white, 
            rgba(255, 255, 255, 0)
        ),
        radial-gradient(
            2px 2px at 20px 50px, 
            white, 
            rgba(255, 255, 255, 0)
        ),
        radial-gradient(
            2.5px 2.5px at 100px 5px, 
            white, 
            rgba(255, 255, 255, 0)
        ),
        radial-gradient(
            2.5px 2.5px at 5px 5px, 
            white, 
            rgba(255, 255, 255, 0)
        ),
        radial-gradient(
            1px 1px at 10px 10px, 
            white, 
            rgba(255, 255, 255, 0)
        ),
        radial-gradient(
            1px 1px at 150px 150px, 
            white, 
            rgba(255, 255, 255, 0)
        ),
        radial-gradient(
            1.5px 1.5px at 60px 170px, 
            white, 
            rgba(255, 255, 255, 0)
        ),
        radial-gradient(
            1.5px 1.5px at 175px 180px, 
            white, 
            rgba(255, 255, 255, 0)
        ),
        radial-gradient(
            2px 2px at 195px 95px, 
            white, 
            rgba(255, 255, 255, 0)
        ),
        radial-gradient(
            2.5px 2.5px at 95px 145px, 
            white, 
            rgba(255, 255, 255, 0)
        );
}

@keyframes space {
    40% {
      opacity: 0.75;
    }
    50% {
      opacity: 0.25;
    }
    60% {
      opacity: 0.75;
    }
    100%{
        opacity: 0.25;
    }
}

.roulette-img-body{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 1%;
    margin-top: -4%;
}

.roulette-img{
    width: 100%;
}

.roulette-chip{
    width: 70px;
    height: 70px;
    position: absolute;
    opacity: 0.9;
    filter: saturate(2)
    brightness(0.9)
}

.chip-red{
    right: 20%;
    bottom: 0;
}

.chip-green{
    right: 4%;
    bottom: 13%;
    width: 55px;
    height: 55px;
}

.chip-blue{
    right: 0;
    top: 24%;
}

.card-redir:hover ~ .theme-bucket > .roulette-img-body > .roulette-img{
    animation: roulette-spin 2s ease-in-out infinite;
}

.card-redir:hover ~ .theme-bucket > .chip-green{
    animation: roulette-chip 2s ease-in-out infinite;
}

.card-redir:hover ~ .theme-bucket > .chip-red{
    animation: roulette-chip 2s ease-in-out infinite .5s;
}

.card-redir:hover ~ .theme-bucket > .chip-blue{
    animation: roulette-chip 2s ease-in-out infinite .3s;
}

.roulette-card{
    background: radial-gradient(circle at -1% 57.5%, rgb(19, 170, 82) 0%, rgb(0, 102, 43) 90%);
    border: 1px rgba(255, 255, 255, 0.5) solid;
}

.roulette-redir{
    text-shadow: -1px -1px 10px rgba(0, 0, 0, 0.8);
}

@keyframes roulette-spin {
    0%{
        transform: rotateZ(0deg);
    }
    100%{
        transform: rotateZ(360deg);
    }
}

@keyframes roulette-chip {
    0%{
        transform:translateY(0px)
    }
    50%{
        transform:translateY(5px)
    }
    100%{
        transform:translateY(0px)
    }
}

.slots-classic-card{
    background-image: linear-gradient(11deg, #8e805c, #c61d5c);
    border: 1px rgba(255, 255, 255, 0.8) solid;
}

.slots-classic-card::after{
    background-image: url("https://wallpaperaccess.com/full/181362.jpg");
    background-size: contain;
    opacity: 0.1;
    width: 100%;
    height: 100%;
    content: " ";
    position: absolute;
}

.slots-classic-icon{
    width: 70px;
    height: 70px;
    position: absolute;
    opacity: 0.8;
    filter: saturate(0.7);
}

.card-redir:hover ~ .theme-bucket > .slots-classic-cherry{
    animation: slots-classic-cherry 2s ease-in-out infinite;
}
.card-redir:hover ~ .theme-bucket > .slots-classic-citrus{
    animation: slots-classic-citrus 2s ease-in-out infinite .2s;
}
.card-redir:hover ~ .theme-bucket > .slots-classic-gem{
    animation: slots-classic-gem 2s ease-in-out infinite .3s;
}
.card-redir:hover ~ .theme-bucket > .slots-classic-seven{
    animation: slots-classic-seven 2s ease-in-out infinite .5s;
}

.slots-classic-cherry{
    transform: scale(1.1)
    rotateZ(20deg);
    right: 2%;
    top: 2%;
}

.slots-classic-citrus{
    transform: scale(0.9)
    rotateZ(-30deg);
    bottom: 2%;
    left: 15%;
}

.slots-classic-gem{
    transform: scale(1.2)
    rotateZ(-15deg);
    left: 5%;
    top: 5%;
}

.slots-classic-seven{
    transform: scale(0.7)
    rotateZ(10deg);
    bottom: 2%;
    left: 55%;
    opacity: 1 !important;
}

@keyframes slots-classic-cherry {
    0%{
        transform: rotateZ(20deg)
        scale(1.1)
        translateY(0);
    }
    50%{
        transform: rotateZ(17deg)
        scale(1.1)
        translateY(5px);
    }
    100%{
        transform: rotateZ(20deg)
        scale(1.1)
        translateY(0);
    }
}
@keyframes slots-classic-citrus {
    0%{
        transform: rotateZ(-30deg)
        scale(0.9)
        translateY(0);
    }
    50%{
        transform: rotateZ(-27deg)
        scale(0.9)
        translateY(5px);
    }
    100%{
        transform: rotateZ(-30deg)
        scale(0.9)
        translateY(0);
    }
}
@keyframes slots-classic-gem {
    0%{
        transform: rotateZ(-15deg)
        scale(1.2)
        translateY(0);
    }
    50%{
        transform: rotateZ(-18deg)
        scale(1.2)
        translateY(3px);
    }
    100%{
        transform: rotateZ(-15deg)
        scale(1.2)
        translateY(0);
    }
}
@keyframes slots-classic-seven {
    0%{
        transform: rotateZ(10deg)
        scale(0.7)
        translateY(0);
    }
    50%{
        transform: rotateZ(13deg)
        scale(0.7)
        translateY(4px);
    }
    100%{
        transform: rotateZ(10deg)
        scale(0.7)
        translateY(0);
    }
}


@media screen and (min-width: 550px) {
    .main-body{
        
    }
}