@{
    ViewData["Title"] = "Home";
    Layout = "_MainLayout";
}

@section Head{
    <link rel="stylesheet" href="~/css/Home/home.css">
}

<div class="main-body">

    <div class="card-body rocketrun-card" id="spacerun-body">
        <div class="stars"></div>
        <a asp-action="Spacerun" asp-controller="Games"class="card-redir">SPACERUN</a>
        <div class="theme-bucket">
            <img src="~/img/Home/rocket.png" alt="" class="rocket-img">
            <img src="~/img/Home/rocket_flame.png" alt="" class="rocket-img rocket-flame">

            <img src="~/img/Home/planet-saturn.png" alt="" class="planet saturn">
            <img src="~/img/Home/planet-mars.png" alt="" class="planet mars">
            <img src="~/img/Home/planet-mars2.png" alt="" class="planet mars2">
        </div>
    </div>

    <div class="card-body roulette-card">
                <a asp-action="Roulette" asp-controller="Games" id="dashboard-link" class="card-redir roulette-redir">ROULETTE</a>
        <div class="theme-bucket">

            <div class="roulette-img-body">
                <img src="~/img/Home/roulette.png" alt="" class="roulette-img">
            </div>
            <img src="~/img/Home/chip-red.png" alt="" class="roulette-chip chip-red">
            <img src="~/img/Home/chip-green.png" alt="" class="roulette-chip chip-green">
            <img src="~/img/Home/chip-blue.png" alt="" class="roulette-chip chip-blue">
        </div>
    </div>

    <div class="card-body">
                <a asp-action="Privacy" asp-controller="Dashboard" id="dashboard-link" class="card-redir">SLOTS CLASSIC</a>
        <div class="theme-bucket">
            
        </div>
    </div>

    <div class="card-body">

    </div>
</div>