@using Microsoft.AspNetCore.Identity
@using RichbetsResurrected.Entities.Identity.Models
@using RichbetsResurrected.Interfaces.DAL
@inject SignInManager<AppUser> _signInManager
@inject UserManager<AppUser> _userManager
@inject IRichbetRepository _richbetRepository
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Richbets</title>
    <link rel="stylesheet" href="~/css/main.layout.css">
    <link rel="stylesheet" href="~/lib/odometer/odometer-theme-default.css">
    <script src="~/lib/odometer/odometer.min.js"></script>
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/Shared/layout.rb.js" defer></script>
    <script
        src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous">
    </script>
    @await RenderSectionAsync("Head", false)
</head>
<body>
<header>
    <!-- <h1 class="logo-text">RICH<span class="logo-text-color">BETS</span></h1> -->
    <a class="logo-text" asp-action="Index" asp-controller="Home">RICH<span class="logo-text-color">BETS</span></a>
    <div class="navbar-wrapper">
        <div class="point-box">
            <img class="rbc-logo" src="~/img/rbcoin30x30.png" alt="rbcoin">
            <p id="odometer" class="odometer">@await _richbetRepository.GetPointsFromUserAsync(Convert.ToInt32(_userManager.GetUserId(User)))</p>
            <p class="points-currency">RBC</p>
        </div>

        <nav class="nav-list">

                <a class="-link" asp-action="Privacy" asp-controller="Dashboard" id="dashboard-link">Regulamin</a>

                <a class="-link" asp-action="Index" asp-controller="Itemshop" id="itemshop-link">Itemshop</a>


                <a class="-link" asp-action="Index" asp-controller="Home" id="home-link">Gry</a>

                @if (_signInManager.IsSignedIn(User))
                {
                    <a class="-link logout-link btn" asp-action="Logout" asp-controller="Account">Wyloguj</a>
                }
                else
                {
                    <a class="-link logout-link" asp-action="Login" asp-controller="Account">Zaloguj</a>
                }
        </nav>
    </div>
    <div id="menu">
        <ul class="menu-nav">
            <li><a class="" asp-action="Privacy" asp-controller="Dashboard" id="dashboard-link">Regulamin</a></li>
            <li><a class="" asp-action="Index" asp-controller="Itemshop" id="itemshop-link">Itemshop</a></li>
            <li><a class="" asp-action="Index" asp-controller="Home" id="home-link">Gry</a></li>
            <li>
                @if (_signInManager.IsSignedIn(User))
                {
                    <a class="logout-link btn" asp-action="Logout" asp-controller="Account">Wyloguj</a>
                }
                else
                {
                    <a class="logout-link" asp-action="Login" asp-controller="Account">Zaloguj</a>
                }
            </li>
        </ul>
    </div>
    <button class="hamburger">
        <div id="bar1" class="bar"></div>
        <div id="bar2" class="bar"></div>
        <div id="bar3" class="bar"></div>
    </button>
</header>
<div class="loading-wrapper">
    <img src="~/img/rbcoin.png" alt="Richbets Coin">
    LOADING
</div>
<script>
    $(document).ready(function () {
        $('.loading-wrapper').toggleClass('showHide');
        setTimeout(function () {
            $('.loading-wrapper').hide();
        }, 500);
    });
</script>
@RenderBody()

@await RenderSectionAsync("scripts", false).ConfigureAwait(false)
</body>
</html>