@using Microsoft.AspNetCore.Identity
@using RichbetsResurrected.Infrastructure.Identity.Models
<!DOCTYPE html>
@inject SignInManager<AppUser> _signInManager
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Richbets</title>
    <link rel="stylesheet" href="~/css/main.layout.css">
    <link rel="stylesheet" href="~/css/odometer-theme-default.css">
    <script src="~/js/odometer.js"></script>
    @RenderSection("Head", required: false)
</head>
<body>
<header>
    <h1 class="logo-text">RICH<span class="logo-text-color">BETS</span></h1>
    <nav>
        <ul class="nav-list">
            <div class="point-box">
                <img class="rbc-logo" src="~/img/rbcoin30x30.png" alt="rbcoin">
                <p id="odometer" class="odometer">%points%</p><p class="points-currency">RBC</p>
            </div>
            <li><a class="-link" asp-action="Privacy" asp-controller="Dashboard">Regulamin</a></li>
            <li class="-link-active"><a class="-link" href="/home">Gry</a></li>
            <li>
                @if (_signInManager.IsSignedIn(User))
                {
                    <a class="-link logout-link btn" asp-action="Logout" asp-controller="Account">Wyloguj</a>
                }
                else
                {
                    <a class="-link logout-link" asp-action="Login" asp-controller="Account">Zaloguj</a>
                }
                
            </li>
        </ul>
    </nav>
</header>
<script>
    setTimeout(function(){
        document.getElementById("odometer").innerHTML = 13900;
    }, 1000);
</script>

@RenderBody()

@await RenderSectionAsync("scripts", false).ConfigureAwait(false)
</body>
</html>