@{
    ViewData["Title"] = "Not Found";
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404 - Richbets</title>
    <link rel="stylesheet" href="~/css/Errors/404.css">
</head>
<body>
    <header>
        <h1 class="logo-text">RICH<span class="logo-text-color">BETS</span></h1>
    </header>
    <div class="container">
        <div class="error-section">
            <img class="rb-logo" src="~/img/rbcoin.png" alt="rb-logo">
            <h1 class="main-text">Page Not Found</h1>
            <h3 class="sub-text">404 Error</h3>
            <a class="return" href="/home">Return home</a>
        </div>
    </div>
</body>
</html>