@{
    ViewData["Title"] = "Itemshop";
    Layout = "_MainLayout";
}

@section Head{
    <link rel="stylesheet" href="~/css/Itemshop/itemshop.css">
    <link rel="stylesheet" href="~/css/Itemshop/customstyling.css">
    <link rel="stylesheet" href="~/css/username.styles.css">
    <script src="~/js/Itemshop/view.rb.js"></script>
}

<nav class="navbar">
    <a href="../Itemshop" class="nav-item">Main shop</a>
    <a href="Itemshop/CustomStyling" class="nav-item">Custom styling</a>
    <a href="Itemshop/LureModules" class="nav-item">Lure modules</a>
    <a href="Itemshop/MuteBypass" class="nav-item">Mute bypass</a>
    <a href="Itemshop/BuildingItems" class="nav-item">Building items</a>
</nav>

