@{
    ViewData["Title"] = "Itemshop";
    Layout = "_MainLayout";
}

@section Head{
    <link rel="stylesheet" href="~/css/Itemshop/itemshop.css">
    <link rel="stylesheet" href="~/css/Itemshop/customstyling.css">
    <link rel="stylesheet" href="~/css/username.styles.css">
    <script src="~/js/Itemshop/view.rb.js"></script>
    <script src="~/js/Itemshop/custom-styling.rb.js" defer></script>
}

<nav class="navbar">
    <a href="../Itemshop" class="nav-item">Main shop</a>
    <a href="LureModules" class="nav-item">Lure modules</a>
    <a href="MuteBypass" class="nav-item">Mute bypass</a>
    <a href="BuildingItems" class="nav-item">Building items</a>
</nav>

<!-- <h2 class="title">Custom Styling</h2> -->

<div class="product-container">

    <h2 class="sub-title">Patterns</h2>

    <div class="container-wrap">
        <div class="product" style="background-image: url('https://i.postimg.cc/Bvw94dgD/tiger.jpg');">
            <div class="product-desc">
                <p class="product-title">Tiger</p>
                <p class="product-cost">Cost: <span style="color: #EE5353;">2000</span></p>
                <button class="product-buy">Buy</button>
            </div>
            <div class="presentation">
                <p class="tiger" style="font-size: 24px;">Drairan</p>
                <p class="tiger" style="font-size: 18px;">Drairan</p>
                <p class="tiger" style="font-size: 14px;">Drairan</p>
            </div>
        </div>

        <div class="product" style="background-image: url('https://i.pinimg.com/736x/b4/ab/5d/b4ab5dec71a33a5e81198915dd517718.jpg');">
            <div class="product-desc">
                <p class="product-title">Pink Leopard</p>
                <p class="product-cost">Cost: <span style="color: #EE5353;">2500</span></p>
                <button class="product-buy">Buy</button>
            </div>
            <div class="presentation">
                <p class="pink_leopard" style="font-size: 24px;">Drairan</p>
                <p class="pink_leopard" style="font-size: 18px;">Drairan</p>
                <p class="pink_leopard" style="font-size: 14px;">Drairan</p>
            </div>
        </div>

        <div class="product" style="background-image: url('https://murals-weblinc.netdna-ssl.com/product_images/giraffe-print-10263661/5ec82fa4bd89dd0018f779d1/product_large_image.jpg?c=1590177700');">
            <div class="product-desc">
                <p class="product-title">Giraffe</p>
                <p class="product-cost">Cost: <span style="color: #EE5353;">2500</span></p>
                <button class="product-buy">Buy</button>
            </div>
            <div class="presentation">
                <p class="giraffe" style="font-size: 24px;">Drairan</p>
                <p class="giraffe" style="font-size: 18px;">Drairan</p>
                <p class="giraffe" style="font-size: 14px;">Drairan</p>
            </div>
        </div>

        <div class="product" style="background-image: url('https://ih1.redbubble.net/image.213300789.4460/flat,750x1000,075,f.u2.jpg');">
            <div class="product-desc">
                <p class="product-title">Fade</p>
                <p class="product-cost">Cost: <span style="color: #EE5353;">5500</span></p>
                <button class="product-buy">Buy</button>
            </div>
            <div class="presentation">
                <p class="fade" style="font-size: 24px;">Drairan</p>
                <p class="fade" style="font-size: 18px;">Drairan</p>
                <p class="fade" style="font-size: 14px;">Drairan</p>
            </div>
        </div>

        <div class="product" style="background-image: url('https://i.imgur.com/Dik8l2g.png');">
            <div class="product-desc">
                <p class="product-title">Marble Fade</p>
                <p class="product-cost">Cost: <span style="color: #EE5353;">7000</span></p>
                <button class="product-buy">Buy</button>
            </div>
            <div class="presentation">
                <p class="marble-fade" style="font-size: 24px;">Drairan</p>
                <p class="marble-fade" style="font-size: 18px;">Drairan</p>
                <p class="marble-fade" style="font-size: 14px;">Drairan</p>
            </div>
        </div>

        <div class="product" style="background-image: url('https://upload.wikimedia.org/wikipedia/en/thumb/1/12/Flag_of_Poland.svg/1200px-Flag_of_Poland.svg.png');">
            <div class="product-desc">
                <p class="product-title">Poland 2</p>
                <p class="product-cost">Cost: <span style="color: #EE5353;">7000</span></p>
                <button class="product-buy">Buy</button>
            </div>
            <div class="presentation">
                <p class="poland2" style="font-size: 24px;">Drairan</p>
                <p class="poland2" style="font-size: 18px;">Drairan</p>
                <p class="poland2" style="font-size: 14px;">Drairan</p>
            </div>
        </div>
    </div>
</div>

<div class="product-container">

    <h2 class="sub-title">Banners</h2>

    <div class="container-wrap">
        <div class="product" style="background-image: url('https://static.vecteezy.com/system/resources/previews/002/859/881/large_2x/a-pattern-background-with-small-and-cute-strawberries-and-flowers-and-leaves-arranged-randomly-simple-pattern-design-template-free-vector.jpg');">
            <div class="product-desc">
                <p class="product-title">Strawberries</p>
                <p class="product-cost">Cost: <span style="color: #EE5353;">7000</span></p>
                <button class="product-buy">Buy</button>
            </div>
            <div class="presentation">
                <p class="strawberries" style="font-size: 24px;">Drairan</p>
                <p class="strawberries" style="font-size: 18px;">Drairan</p>
                <p class="strawberries" style="font-size: 14px;">Drairan</p>
            </div>
        </div>

        <div class="product" style="background-image: url('https://thumbs.dreamstime.com/b/money-cash-pattern-28000619.jpg');">
            <div class="product-desc">
                <p class="product-title">Cash</p>
                <p class="product-cost">Cost: <span style="color: #EE5353;">7000</span></p>
                <button class="product-buy">Buy</button>
            </div>
            <div class="presentation">
                <p class="cash" style="font-size: 24px;">Drairan</p>
                <p class="cash" style="font-size: 18px;">Drairan</p>
                <p class="cash" style="font-size: 14px;">Drairan</p>
            </div>
        </div>

        <div class="product" style="background-image: url('https://upload.wikimedia.org/wikipedia/en/thumb/1/12/Flag_of_Poland.svg/1200px-Flag_of_Poland.svg.png');">
            <div class="product-desc">
                <p class="product-title">Poland</p>
                <p class="product-cost">Cost: <span style="color: #EE5353;">7000</span></p>
                <button class="product-buy">Buy</button>
            </div>
            <div class="presentation">
                <p class="poland" style="font-size: 24px;">Drairan</p>
                <p class="poland" style="font-size: 18px;">Drairan</p>
                <p class="poland" style="font-size: 14px;">Drairan</p>
            </div>
        </div>

        <div class="product" style="background-image: url('https://www.creativefabrica.com/wp-content/uploads/2020/11/01/Fast-Food-Seamless-Pattern-1-Graphics-6399037-1.jpg');">
            <div class="product-desc">
                <p class="product-title">Fastfood</p>
                <p class="product-cost">Cost: <span style="color: #EE5353;">7000</span></p>
                <button class="product-buy">Buy</button>
            </div>
            <div class="presentation">
                <p class="fastfood" style="font-size: 24px;">Drairan</p>
                <p class="fastfood" style="font-size: 18px;">Drairan</p>
                <p class="fastfood" style="font-size: 14px;">Drairan</p>
            </div>
        </div>

        <div class="product" style="background-image: url('https://i.postimg.cc/90MQb6TD/redline.jpg');">
            <div class="product-desc">
                <p class="product-title">Redline</p>
                <p class="product-cost">Cost: <span style="color: #EE5353;">7000</span></p>
                <button class="product-buy">Buy</button>
            </div>
            <div class="presentation">
                <p class="redline" style="font-size: 24px;">Drairan</p>
                <p class="redline" style="font-size: 18px;">Drairan</p>
                <p class="redline" style="font-size: 14px;">Drairan</p>
            </div>
        </div>
    </div>
</div>

<div class="product-container">
    <h2 class="sub-title">Animated</h2>
    <div class="container-wrap">
        <div class="product" style="background-image: url('https://i.pinimg.com/originals/92/b8/19/92b819465492e2f9f1a385cf7916d3a0.gif');">
            <div class="product-desc">
                <p class="product-title">Epilepsy</p>
                <p class="product-cost">Cost: <span style="color: #EE5353;">7000</span></p>
                <button class="product-buy">Buy</button>
            </div>
            <div class="presentation">
                <p class="anim-epilepsy" style="font-size: 24px;">Drairan</p>
                <p class="anim-epilepsy" style="font-size: 18px;">Drairan</p>
                <p class="anim-epilepsy" style="font-size: 14px;">Drairan</p>
            </div>
        </div>

        <div class="product" style="background-image: url('https://i.pinimg.com/originals/84/d8/7e/84d87eb7e536135161c55887d878d44b.gif');">
            <div class="product-desc">
                <p class="product-title">Colorwave</p>
                <p class="product-cost">Cost: <span style="color: #EE5353;">7000</span></p>
                <button class="product-buy">Buy</button>
            </div>
            <div class="presentation">
                <p class="anim-color-wave" style="font-size: 24px;">Drairan</p>
                <p class="anim-color-wave" style="font-size: 18px;">Drairan</p>
                <p class="anim-color-wave" style="font-size: 14px;">Drairan</p>
            </div>
        </div>

        <div class="product" style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/2/22/Animated_fire_by_nevit.gif');">
            <div class="product-desc">
                <p class="product-title">Fire</p>
                <p class="product-cost">Cost: <span style="color: #EE5353;">7000</span></p>
                <button class="product-buy">Buy</button>
            </div>
            <div class="presentation">
                <p class="anim-fire" style="font-size: 24px;">Drairan</p>
                <p class="anim-fire" style="font-size: 18px;">Drairan</p>
                <p class="anim-fire" style="font-size: 14px;">Drairan</p>
            </div>
        </div>
    </div>
</div>