@{
    ViewData["Title"] = "Itemshop";
    Layout = "_MainLayout";
}

@section Head{
    <link rel="stylesheet" href="~/css/Itemshop/itemshop.css">
    <link rel="stylesheet" href="~/css/Itemshop/customstyling.css">
    <link rel="stylesheet" href="~/css/username.styles.css">
    <script src="~/js/Itemshop/view.rb.js"></script>
    <script src="~/js/Itemshop/custom-styling.rb.js" defer></script>
}

<nav class="navbar">
    <a href="../Itemshop" class="nav-item">Main shop</a>
    <a asp-controller="Itemshop" asp-action="LureModules" class="nav-item">Lure modules</a>
    <a asp-controller="Itemshop" asp-action="MuteBypass" class="nav-item">Mute bypass</a>
    <a asp-controller="Itemshop" asp-action="BuildingItems" class="nav-item">Building items</a>
</nav>

<h1 class="page-title">Custom styling</h1>

<div class="product-box">

    <h1 class="category-title">Pattern</h1>

    <div class="product-list-box">
        
    </div>
</div>