@{
    ViewData["Title"] = "Itemshop";
    Layout = "_MainLayout";
}

@section Head{
    <link rel="stylesheet" href="~/css/Itemshop/itemshop.css">
    <link rel="stylesheet" href="~/css/username.styles.css">
    <script src="~/js/Itemshop/view.rb.js" defer></script>
}

<nav class="navbar">
    <a asp-controller="Itemshop" asp-action="CustomStyling" class="nav-item">Custom styling</a>
    <a asp-controller="Itemshop" asp-action="LureModules" class="nav-item">Lure modules</a>
    <a asp-controller="Itemshop" asp-action="MuteBypass" class="nav-item">Mute bypass</a>
    <a asp-controller="Itemshop" asp-action="BuildingItems" class="nav-item">Building items</a>
</nav>

<div class="showcase-container">

    <div class="sc-presentation">

        <div class="sc-presentation-left">
            <img src="~/img/Itemshop/advanced-lure.png" alt="Advanced rule" class="sc-img">
            <img src="~/img/Itemshop/basic-lure.png" alt="Basic rule" class="sc-img">
        </div>

        <div class="sc-presentation-right">
            <img src="~/img/Itemshop/regular-lure.png" alt="Regular rule" class="sc-img">
        </div>

    </div>

    <div class="sc-text">
        <div class="sc-text-content">

            <h2 class="sc-text-title">Lure module</h2>

            <div class="sc-desc">
                <p class="sc-text-aval">AVAILABLE NOW</p>
                <p class="sc-text-desc">
                    A Lure Module is an item that members can use on any voice channel to increase the multiplier for users on it. 
                    You can hold it and use it anytime you need.
                </p>
                <a href="" class="sc-button">SHOP NOW</a>
            </div>   
             
        </div>
    </div>
</div>