@{
    ViewData["Title"] = "Itemshop";
    Layout = "_MainLayout";
}

@section Head{
    <link rel="stylesheet" href="~/css/Itemshop/itemshop.css">
    <link rel="stylesheet" href="~/css/username.styles.css">
}

<div class="mbody">

</div>